html {
  font-family: "Abhaya Libre", serif;
  color: #fff;
}

.masthead {
  background-color: #423ca3;
}

.logo {
  text-align: center;
}

.nav {
  text-align: center;
}

li {
  background-color: #15114c;
  border-radius: .4rem;
}

li:hover {
  background-color: #fff;
}

.icon-link {
  color: #fff;
}

.icon-link:hover {
  color: #15114c;
}

@media only screen and (min-width: 60em) {

  .logo {
    text-align: left;
  }

  .nav {
    text-align: right;
  }

}
